package pages

import (
  "spaudit/interfaces/web/presenters"
  "spaudit/interfaces/web/templates/components/core"
  "spaudit/interfaces/web/templates/components/site"
)

templ SiteListsPage(vm presenters.SiteListsVM) {
  @core.Layout(vm.Site.Title + " · Lists") {
    @site.SiteBreadcrumbs(vm.Site)
    @site.SiteHeader(vm.Site)
    @site.SiteStatsGrid(vm)
    @site.SiteListsTable(vm)
  }
}